/Engine
/UDKGame/Script
/Development/Flash
/Development/Src/OnlineSubsystemSteamworks
/Development/Src/UDKBase
/Development/Src/UnrealEd
/Development/Src/UTEditor
/Development/Src/UTGame
/Development/Src/UTGameContent
/Development/Src/Core
/Development/Src/GameFramework
/Development/Src/GFxUI
/Development/Src/GFxUIEditor
/Development/Src/IpDrv
/Development/Src/OnlineSubsystemPC
